body {
	background-color: #333945;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #e74292;
}

.button {
    background-color: #2ecc72;
	margin: 0 auto;
	border: none;
	border-radius: 0.3rem;
	color: #ffffff;
	padding: 1rem 2rem;
	font-size: 1rem;
	font-weight: bold;
}
