*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./img/double-bubble-dark.png);
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  width: 50vw;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 8px;
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.items {
  width: 80vw;
  margin: 0 auto;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}
